.step_menu{
    color: $white;
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    margin: 34px 10px 0px 10px;
    .title{
        color: $black;
        font-weight: bold;
        font-size: 22px;
        line-height: 27px;
        align-items: flex-end;
        text-align: center;
        margin-bottom: 15px;
    }
    .step{
        margin-bottom: 10px;
    }
}