@import '../abstracts/color';
.bt {
    color: $white;
    font-weight: normal;
    font-size: 14px;
    line-height: 17px; 
    display: flex;
    align-items: flex-end;
    border: 2px solid $white;
    box-sizing: border-box;
    border-radius: 40px;
    padding: 9px 17px 9px 17px;
    background-color: transparent;
}
.bt--header_body{
    font-weight: bold;
    padding: 12px 45px 12px 45px;
    background: $red;
    border: 0px;
}
.bt--step1{
    font-size: 10px;
    line-height: 12px; 
    background: $red;
    border: 2px solid $red;
    padding: 3px 13px 3px 13px;
    letter-spacing: 2px;
}
.bt--see{
    color:$red;
    font-weight: bold;
    border: 2px solid $red;
    border-radius: 40px;
    padding: 10px 70px ;
    background-color: transparent;
}
.bt--search{

    height: 40px;
    color:$white;
    font-weight: bold;
    border: 2px solid #FF4E50;
    border-radius: 40px;
    background:$red;    
}

