.step{
    cursor: pointer;
    border-radius: 4px;
    color: $white;
    position: relative;
    .picture{
        .step-img {
            border-radius: 4px;
            position: absolute;
            z-index: -1;
        }
    }
    .overlay{  
        background: linear-gradient(180deg, rgba(0, 0, 0, 0.0001) 0%, rgba(0, 0, 0, 0.6) 100%);
        display: flex;
        flex-flow: column-reverse;
        align-items: flex-start;
        align-content: flex-end;
        border-radius: 4px;
        .bt--step1{
            margin-bottom: 15px;
        }
        .step-title{ 
            font-style: normal;
            font-weight: bold;
            font-size: 24px;
            line-height: 14px;
            margin-bottom: 10px;
        }
        .step-text{
            font-family: 'Roboto' , sans-serif;
            font-style: normal;
            font-weight: 300;
            font-size: 14px;
            line-height: 14px;
            color: #E3E3E3;
            margin-bottom: 0px;
        }
    }
}